snippet with "Python with block" !b
with ${1} as ${2}:
	${3:pass}
endsnippet

snippet todo "ToDo with date and user" !b
# TODO: ${1:todo} `!p
from getpass import getuser
from time import localtime, strftime
user = getuser()
date = strftime('%Y-%m-%d %H:%M', localtime())
snip.rv += user + ' ' + date`
endsnippet
