# Ignore backups
*~
bundle.backup
.*.swp

# tmux log files
tmux-client-*.log

# rusty-tags files
rusty-tags/cache
rusty-tags/locks

# htop config
config/htop/htoprc

# macOS shit
.DS_Store

# direnv cache
/.direnv

# nix build result links
/result
/result-*

# home-manager generated coc-settings for this repo.
/.vim/coc-settings.json

# Claude
/.claude
