layout {
    focus-ring {
        active-color "#dec0b2"
        inactive-color "#968f8d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dec0b2"
        inactive-color "#968f8d"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dec0b2"
        inactive-color "#968f8d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dec0b280"
    }
}

