layout {
	background-color "#161311"

    focus-ring {
        active-color "#dfc0b2"
        inactive-color "#968f8d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dfc0b2"
        inactive-color "#968f8d"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dfc0b2"
        inactive-color "#968f8d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dfc0b280"
    }
}

overview {
	backdrop-color "#161311"
}

recent-windows {
    highlight {
        active-color "#dfc0b2"
        urgent-color "#ffb4ab"
    }
}
